<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then DataTables and final PapaParse -->
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
</head>

<body>
  <div class="container">
    <header>
      <%- include('partials/header'); %>
    </header>

    <main role="main" class="container">
      <% if (user) { %>
      <div class="row p-3 p-md-5 m-md-3">
        <div class="col">
          <table id="library" class="table table-striped table-bordered"></table>
        </div>
      </div>

      <script type="text/javascript">
        var dataset = [];
        var windowObjectReference = null; // global variable
        function openRequestedPopup(url, windowName, width, height) {
          if (width == null) width = 1024;
          if (height == null) height = 768;
          if (windowObjectReference == null || windowObjectReference.closed) {
            windowObjectReference = window.open(url, windowName,
              "width=" + width + ",height=" + height + ",resizable,scrollbars");
          } else {
            windowObjectReference.focus();
          };
        }
      </script>
      <% if (items) { %>
      <script>
        var dataset = JSON.parse('<%- JSON.stringify(items) %>');
        var aiccParameters = JSON.parse('<%- JSON.stringify(aiccparameters) %>');
      </script>
      <% } %>
      <script>
        $(document).ready(function () {
          $('#library').DataTable({
            data: dataset,
            columns: [
              { data: "type", title: "Content Type" },
              { data: "code", title: "Course Code" },
              { data: "title", title: "Title" },
              {
                data: "launchurl", className: "launch", title: "Launch", render: function (data, type, row, meta) {
                  var aiccLaunchUrl = data.indexOf('?') > 0 ? data + '&aicc_sid=' + aiccParameters.aicc_sid + '-'+ row.id + '&aicc_url=' + aiccParameters.aicc_url : data + '?aicc_sid=' + aiccParameters.aicc_sid + '-'+ row.id + '&aicc_url=' + aiccParameters.aicc_url;
                  return "<div class='p-1'><a class='btn btn-primary' href='" + aiccLaunchUrl + "'role='button' target='CoursePopupWindow' onclick='openRequestedPopup(this.href, this.target, 1280, 768); return false;'>Launch</a></div>";
                }
              }
            ]
          });
        });
      </script>
      <% } %>
    </main>
    <footer class="container">
      <%- include('partials/footer'); %>
    </footer>
  </div>
</body>

</html>