<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <div class="container">
    <header>
      <%- include('partials/header'); %>
    </header>
    <%- include('partials/message'); %>
    <%- include('partials/registerform'); %>
    <footer class="container">
      <%- include('partials/footer'); %>
    </footer>
  </div>
</body>

</html>